html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-size: 3.333rem;
  font-weight: 700;
  line-height: 1.3;
  color: #212121;
  padding: 1rem 0;
  text-align: center; }
  @media only screen and (max-width: 46rem) {
    h1 {
      font-size: 2.333rem;
      font-padding: 0.5rem 0; } }

h2 {
  font-size: 2.667rem;
  font-weight: 600;
  line-height: 1.375;
  color: #212121;
  padding: 1rem 0;
  text-align: center; }
  @media only screen and (max-width: 46rem) {
    h2 {
      font-size: 1.667rem;
      font-padding: 0.5rem 0; } }

h3 {
  font-size: 2.333rem;
  font-weight: 600;
  line-height: 1.286;
  color: #4A4A4A;
  padding: 0.5rem 0;
  text-align: center; }
  @media only screen and (max-width: 46rem) {
    h3 {
      font-size: 1.333rem; } }

h4 {
  font-size: 1.667rem;
  font-weight: 600;
  line-height: 1.4;
  color: #212121;
  padding: 0.5rem 0;
  text-align: center; }
  @media only screen and (max-width: 46rem) {
    h4 {
      font-size: 1rem; } }

h5 {
  font-size: 1.333rem;
  font-weight: 600;
  line-height: 1.4;
  color: #424242;
  padding: 0.5rem 0;
  text-align: center; }
  @media only screen and (max-width: 46rem) {
    h5 {
      font-size: 0.933rem; } }

p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.667;
  color: #212121;
  padding: 0.5rem 0; }
  @media only screen and (max-width: 46rem) {
    p {
      font-size: 0.933rem; } }

form {
  width: 55%;
  margin: 1rem auto; }
  form input, form textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    font-size: 0.933rem; }
  form input:not([type=submit]), form textarea {
    color: #4A4A4A;
    margin: 1rem 0;
    border: 1px solid #ccc;
      border-radius: 0.333rem; }
  form input[type=submit] {
    background-color: #2980B9;
    color: white;
    margin: 1rem 0;
    border: none;
      border-radius: 0.333rem; }
  form input[type=submit]:hover {
    background-color: #203d69; }

.blue-button {
  background-color: #2980B9;
  color: white;
  margin: 1rem 0;
  border: none;
    border-radius: 0.333rem;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  font-size: 0.933rem; }

.blue-button:hover {
  background-color: #203d69; }

.red-button {
  background-color: #ff3232;
  color: white;
  margin: 1rem 0;
  border: none;
    border-radius: 0.333rem;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5rem 1rem;
  font-size: 0.933rem; }

.red-button:hover {
  background-color: #902626; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility; }

header {
  position: absolute;
  z-index: 10;
  padding: 2rem 2rem;
  width: 100%; }
  header a, header nav {
    display: inline-block; }
  header > a {
    color: white;
    font-size: 1.125rem;
    float: left;
    text-decoration: none; }
    @media only screen and (max-width: 46rem) {
      header > a {
        text-align: center;
        float: none;
        width: 100%; } }
  header nav {
    float: right;
    color: white;
    padding-right: 4rem; }
    @media only screen and (max-width: 46rem) {
      header nav {
        text-align: center;
        float: none;
        width: 100%;
        padding: 1rem 0rem; } }
    header nav li + li:before {
      content: " | ";
      padding: 0 1rem; }
      @media only screen and (max-width: 46rem) {
        header nav li + li:before {
          padding: 0 0.5rem; } }
    header nav li {
      display: inline; }
      header nav li a {
        color: white;
        text-decoration: none; }

section {
  padding: 1rem 6rem; }
  @media only screen and (max-width: 60rem) {
    section {
      padding: 1rem 2rem; } }

#hero {
  background: url("../images/Head.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  #hero h1 {
    color: white;
    padding: 7.5rem 0rem 0;
    animation-duration: 2s;
    animation-delay: 1s; }
    @media only screen and (max-width: 60rem) {
      #hero h1 {
        padding: 6rem 0rem 2rem; } }
  #hero form {
    margin: 3rem auto;
    width: 30rem; }
    @media only screen and (max-width: 46rem) {
      #hero form {
        margin: 0 auto;
        width: 85%; } }
    #hero form i {
      position: absolute;
      height: 1.2rem;
      padding: 0.5rem 1rem;
      color: #4A4A4A;
      z-index: 10; }
      @media only screen and (max-width: 46rem) {
        #hero form i {
          padding: 0.5rem 0.55rem; } }
    #hero form .input-dropdown {
      width: 100%; }
      #hero form .input-dropdown input[type='text'] {
        margin: 0;
        width: 100%;
        display: block;
        border: none;
          border-radius: 0.333rem;
        padding: 0.5rem 0rem 0.5rem 3rem;
        color: #4A4A4A;
        font-size: 0.75rem; }
        @media only screen and (max-width: 46rem) {
          #hero form .input-dropdown input[type='text'] {
            padding: 0.5rem 0rem 0.5rem 2rem; } }
  #hero .category-examples {
    margin: 0 auto;
    text-align: center;
    width: 90%; }
    @media only screen and (max-width: 46rem) {
      #hero .category-examples {
        width: 50%; } }
    #hero .category-examples li {
      display: inline;
      color: white;
      text-align: center;
      margin: 0 auto;
      font-weight: 600;
      font-size: 1.125rem;
      padding: 1.0rem; }

#how-it-works {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center; }
  #how-it-works h2 {
    width: 100%; }
  #how-it-works .step {
    width: 30%;
    padding: 2rem 1rem;
    margin: 0 1%; }
    @media only screen and (max-width: 46rem) {
      #how-it-works .step {
        width: 90%; } }
    #how-it-works .step img {
      display: block;
      margin: 0 auto;
      width: 5rem; }
    #how-it-works .step p {
      text-align: center; }
  #how-it-works h4 {
    margin-top: 1rem; }

#popular-tasks {
  background-color: #EEEEEE;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center; }
  #popular-tasks h2 {
    width: 100%; }
  #popular-tasks a {
    text-decoration: none; }
  #popular-tasks .task:hover {
    opacity: 0.4; }
  #popular-tasks .task {
    width: 27%;
    margin: 1% 3%;
    vertical-align: top;
    background: white;
    box-shadow: 3px 3px 5px 6px #ccc; }
    @media only screen and (max-width: 60rem) {
      #popular-tasks .task {
        width: 40%; } }
    @media only screen and (max-width: 46rem) {
      #popular-tasks .task {
        width: 90%; } }
    #popular-tasks .task .img {
      height: 12rem;
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover; }
    #popular-tasks .task h4 {
      padding: 0; }
    #popular-tasks .task p {
      padding: 0 1rem;
      text-align: center; }

#join-taskers {
  background: url("../images/Join.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center; }
  #join-taskers h2 {
    color: white;
    width: 100%; }
  #join-taskers .form-taskers {
    background: white;
    width: 26rem;
    border-radius: 2rem;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 60rem) {
      #join-taskers .form-taskers {
        margin: 2rem auto;
        padding: 1rem 0; } }
  #join-taskers ul {
    display: inline-block;
    color: white;
    width: calc(100% - 28rem);
    font-size: 3.333rem;
    font-weight: 700;
    line-height: 1.3;
    text-align: center;
    vertical-align: top;
    padding-top: 2rem; }
    @media only screen and (max-width: 60rem) {
      #join-taskers ul {
        display: none; } }

#partner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: baseline;
  align-items: baseline; }
  #partner h4 {
    width: 100%; }
  #partner img {
    margin: 1% 3%;
    width: 20%;
    height: 20%; }
    @media only screen and (max-width: 60rem) {
      #partner img {
        width: 30%;
        height: 30%; } }

oauth-buttons {
  display: block; }
  oauth-buttons button {
    display: block;
    width: 55%;
    padding: 0.5rem 1rem;
    font-size: 0.933rem;
    color: white;
    margin: 1rem auto;
    border: none;
      border-radius: 0.333rem;
    text-decoration: none; }
  oauth-buttons .btn-facebook {
    background-color: #3B5998; }
  oauth-buttons .btn-google {
    background-color: #DD4B39; }
  oauth-buttons .btn-twitter {
    background-color: #55ACEE; }

footer {
  background: #424242; }
  footer p {
    padding: 2rem;
    color: white; }

#contatos {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center;
  color: white; }
  #contatos .contato {
    width: 20%;
    padding: 2rem 1rem;
    margin: 0 1%; }
    @media only screen and (max-width: 60rem) {
      #contatos .contato {
        width: 40%; } }
    @media only screen and (max-width: 46rem) {
      #contatos .contato {
        width: 90%; } }

#header {
  height: 6rem;
  background: #424242; }

#orders {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center; }
  #orders button {
    width: 27%; }
    @media only screen and (max-width: 60rem) {
      #orders button {
        width: 40%; } }
    @media only screen and (max-width: 46rem) {
      #orders button {
        width: 90%; } }

#tasks {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center; }
  #tasks .task {
    border: none;
      border-radius: 0.333rem;
    width: 27%;
    margin: 2% 3%;
    vertical-align: top;
    box-shadow: 3px 3px 5px 6px #ccc;
    padding: 2rem; }
    @media only screen and (max-width: 60rem) {
      #tasks .task {
        width: 40%; } }
    @media only screen and (max-width: 46rem) {
      #tasks .task {
        width: 90%; } }
