<section id="header"></section>

<section id="tasksAdmin" ng-show="vm.tasks">
    <h4>Tarefas</h4>
    <p>Total de Tarefas: {{vm.tasks.length}}</p>
    <table>
        <thead>
        <tr>
            <th>Titulo</th>
            <th>Usuario</th>
            <th>Quando</th>
            <th>Valor</th>
            <th>Candidatos</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="task in vm.tasks">
            <td>{{task.title}}</td>
            <td>{{task.user.name}}</td>
            <td>{{task.when | date}}</td>
            <td>{{task.value}}</td>
            <td><span ng-repeat="candidate in task.candidates">{{candidate.name}}{{$last ? '' : ', '}}</span></td>
            <td>{{task.active}}</td>
        </tr>
        </tbody>
    </table>
</section>

<section id="users" ng-show="vm.users">
    <h4>Usuarios</h4>
    <p>Total de usuários: {{vm.users.length}}</p>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Criado</th>
                <th>Atualizado</th>
                <th>Prestador?</th>
                <th>Bio</th>
            </tr>
        </thead>
        <tbody>

            <tr ng-repeat="user in vm.users">
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.created_at | date}}</td>
                <td>{{user.updated_at | date}}</td>
                <td>{{user.isTasker}}</td>
                <td>{{user.bio}}</td>
            </tr>
        </tbody>
    </table>
</section>



