//  Styles.css
    Author: Fernando Farias
    Website: nandofarias.com.br
    Date: 23/05/2016

//  Imports
@import reset
@import colors
@import typography

body
    font:
        family: 'Open Sans', sans-serif
        size: 16px
    line-height: 1.4
    

.hero
    h1
        color: white