<section id="contatos">
    <div class="contato">
        <ul>
            <li>Endereço</li>
            <li>Alameda Eduardo Prado, 415</li>
            <li>São Paulo, SP</li>
        </ul>
    </div>
    <div class="contato">
        <ul>
            <li>Telefone</li>
            <li>(11) 2393-8510</li>
            <li>(11) 94302-9568 <img alt="WhatsApp (11) 94302-9568" src="assets/images/whatsapp.svg" width="24rem" height="24rem"></li>
        </ul>
    </div>
    <div class="contato">
        <ul>
            <li>Email</li>
            <li>contato@bemcombinado.com</li>
        </ul>
    </div>
    <div class="contato">
        <ul>
            <li>
                Siga-nos:
                </li>
            <li>
                <a href="https://www.facebook.com/bemcombinado" target="_new">
                    <!--Cor do icone #D4D4D4-->
                    <img alt="BemCombinado" src="assets/images/facebook.svg" width="24rem" height="24rem">
                </a>
            </li>
        </ul>
    </div>
    <div class="contato">
        <ul>
            <li>@2016 BemCombinado.com</li>
        </ul>
    </div>
</section>
