<section id="header">
</section>

<section id="tasks">

    <div class="task" ng-repeat="task in vm.tasks">
        <h4>{{task.title}}</h4>
        <p>Detalhes: {{task.details}}</p>
        <p>Onde: {{task.location}}</p>
        <p>Quando: {{task.when | date: "dd/MM/yyyy"}}</p>
        <p>Valor: R${{task.value}}</p>

        <button class="blue-button" ng-click="vm.apply(task)" ng-hide="task.isOwner || task.isCandidate">Quero me candidatar</button>
        <button class="red-button" ng-click="vm.unapply(task)" ng-show="task.isCandidate">Não quero mais realizar o serviço</button>
    </div>

</section>