<section id="header">
</section>

<section id="tasks">

    <div class="task" ng-repeat="task in vm.tasks">
        <h4>{{task.title}}</h4>
        <p>Detalhes: {{task.details}}</p>
        <p>Onde: {{task.location}}</p>
        <p>Quando: {{task.when | date: "dd/MM/yyyy"}}</p>
        <p>Valor: R${{task.value}}</p>
        <p ng-show="task.isCandidate" style="color: green;" align="center">Você se candidatou nesta tarefa.</p>
        <button class="blue-button" ng-click="vm.apply(task)" ng-hide="task.isOwner || task.isCandidate">Quero me candidatar</button>
        <button class="red-button" ng-click="vm.unapply(task)" ng-show="task.isCandidate">Não quero mais realizar o serviço</button>
    </div>

    <div class="task" ng-show="vm.tasks.length < 1">
        <h4>Infelizmente ainda não temos nenhuma tarefa disponível para você :( mas estamos trabalhando nisso</h4>
        <img alt="no tasks found" ng-src="../../../assets/images/Oh-No.gif"  width="100%">
    </div>

</section>