<section id="hero">
        <h1 class="animated fadeInUp">Aproveite mais tempo com a sua família,<br> o resto a gente cuida</h1>
        <form>
            <div>
                <i class="fa fa-search"></i>
                <input-dropdown
                        input-placeholder="Qual serviço você deseja?"
                        selected-item="vm.selectedDropdownItem"
                        default-dropdown-items="vm.dropdownItems"
                        item-selected-method="vm.createTask(item)">
                </input-dropdown>
            </div>
        </form>
        <div class='category-examples'>
            <li>Eletricista</li>
            <li>Montagem de Moveis</li>
            <li>Pequenos Reparos</li>
            <li>Fixação de TV</li>
        </div>
</section>
<section id="how-it-works">
    <h2>Como Funciona</h2>
    <div class="step">
        <img alt="Poste uma Tarefa" src="assets/images/pin-post.svg">
        <h4>1 - Poste uma tarefa</h4>
        <p>Crie uma tarefa detalhando tudo o que você deseja.</p>
    </div>
    <div class="step">
        <img alt="Receba Propostas" src="assets/images/documents.svg">
        <h4>2 - Receba propostas</h4>
        <p>Receba e avalie diferentes propostas, tenha informações sobre perfil, habilidades e preços de diferentes pessoas.</p>
    </div>
    <div class="step">
        <img alt="Realize Tarefa" src="assets/images/task.svg">
        <h4>3 - Realize com o melhor</h4>
        <p>Realize a tarefa com o que melhor se adequa a sua necessidade sem medo de errar.</p>
    </div>
</section>
<section id="popular-tasks">
    <h2>Tarefas Populares</h2>
    <div class="task">
        <a href="#" ng-click="vm.createTask('Pintura')">
            <div class="img" style="background-image: url('assets/images/Pintor.jpg');"></div>
            <h4>Pintura</h4>
            <p>Encontre o melhor profissional para sua casa</p>
        </a>
    </div>
    <div class="task">
        <a href="#" ng-click="vm.createTask('Webdesign')">
            <div class="img" style="background-image: url('assets/images/Webdesign.jpg');"></div>
            <h4>Webdesign</h4>
            <p>Encontre um profissional e se destaque na internet e nas redes sociais</p>
        </a>
    </div>
    <div class="task">
        <a href="#" ng-click="vm.createTask('Conserto')">
            <div class="img" style="background-image: url('assets/images/Conserto.jpg');"></div>
            <h4>Reparos</h4>
            <p>Elétrico, hidráulico ou de qualquer outro tipo, encontre aqui o que você precisa</p>
        </a>
    </div>
    <div class="task">
        <a href="#" ng-click="vm.createTask('Montagem')">
            <div class="img" style="background-image: url('assets/images/Montador.jpg');"></div>
            <h4>Montagem</h4>
            <p>Não quebre a cabeça, encontre uma pessoa para montar o que você precisar</p>
        </a>
    </div>
    <div class="task">
        <a href="#" ng-click="vm.createTask('Mudanca')">
            <div class="img" style="background-image: url('assets/images/Mudanca.jpg');"></div>
            <h4>Mudança</h4>
            <p>Encontre ajuda para organizar, embalar ou transportar suas coisas</p>
        </a>
    </div>
    <div class="task" ng-click="vm.createTask('Geral')">
        <a href="#">
            <div class="img" style="background-image: url('assets/images/Ferramentas.jpg');"></div>
            <h4>Geral</h4>
            <p>Diga o que você precisa fazer</p>
        </a>
    </div>
</section>
<section id="join-taskers">
    <h2>Torne-se um resolvedor</h2>
    <div class="form-taskers">
        <h4>Conheça já a melhor rede colaborativa de serviços</h4>
        <form ng-submit="vm.signup()">
            <input ng-model="vm.user.name" type="text" placeholder="Nome">
            <input ng-model="vm.user.email" type="email" placeholder="Email">
            <input type="submit" value="Cadastre-me">
        </form>
    </div>
    <ul>
        <li>+ Clientes</li>
        <li>+ Serviços</li>
        <li>+ Renda</li>
    </ul>
</section>
<section id="partner">
    <h4>APOIO</h4>
    <img alt="Oxigênio Aceleradora" src="assets/images/brand-oxigenio-aceleradora-color.png">
    <img alt="Porto Seguro" src="assets/images/portoseguro_color.png">
</section>