<section id="header"></section>

<section class="settings">
    <h4>Troca de senha</h4>
    <form name="form" ng-submit="vm.updatePassword()">
        <label for="old-password">Senha atual</label>
        <input id="old-password" type="password" ng-model="vm.user.oldPassword" ng-minlength="3" required>
        <label for="new-password">Nova Senha</label>
        <input id="new-password" type="password" ng-model="vm.user.newPassword" ng-minlength="3" required>
        <label for="confirm-new-password">Confirme Nova Senha</label>
        <input id="confirm-new-password" type="password" ng-model="vm.user.confirmPassword" ng-minlength="3" required>

        <p class="error" ng-show="vm.error">{{vm.error}}</p>
        <p class="message" ng-show="vm.message">{{vm.message}}</p>
        <input type="submit" value="Trocar minha senha">

        <a href="#" ui-sref="settings">Voltar para o meu perfil</a>

    </form>
</section>