<form ng-submit="vm.register()" analytics-on="submit" analytics-event="Signup">
    <label for="name">Nome Completo:</label>
    <input type="text" ng-model="vm.user.name" id="name"/>
    <label for="email">Email:</label>
    <input type="text" ng-model="vm.user.email" id="email"/>
    <label for="password">Senha:</label>
    <input type="password" ng-model="vm.user.password" id="password"/>

    <p class="error" ng-repeat="error in vm.errors">{{ error.message }}</p>
    <input type="submit" value="Cadastrar"/>

    <button type="button" class="blue-button"
            ng-dialog="app/account/login/login.html"
            ng-dialog-class="ngdialog-theme-plain"
            ng-dialog-controller="loginController"
            ng-dialog-controller-as="vm"
            ng-dialog-close-previous>
        Já possuo login
    </button>
</form>