<form ng-submit="vm.save()">
    <label for="title">Titulo</label>
    <input type="text" id="title" ng-model="vm.task.title">
    <label for="details">Detalhes</label>
    <input type="text" id="details" ng-model="vm.task.details">
    <label for="location">Localização</label>
    <input type="text" id="location" ng-model="vm.task.location">
    <label for="when">Para quando</label>
    <input type="date" id="when" ng-model="vm.task.when">
    <label for="value">Valor</label>
    <input type="number" id="value" ng-model="vm.task.value">

    <input type="submit" value="Pedir">
</form>