<form ng-submit="vm.save()">
    <label for="title">Titulo</label>
    <input type="text" id="title" ng-model="vm.task.title" placeholder="Ex: Fixar um quadro, Consertar o chuveiro, etc.">
    <label for="details">Detalhes</label>
    <textarea type="text" id="details" ng-model="vm.task.details" rows="5"></textarea>
    <label for="location">Localização</label>
    <input type="text" id="location" ng-model="vm.task.location">
    <label for="when">Para quando</label>
    <label id="when" locale="pt-br" moment-picker="vm.task.when" format="DD/MM/YYYY" >{{vm.task.when || 'Selecione uma data'}}</label>
    <label for="value">Valor</label>
    <input type="text" id="value"  ng-model="vm.task.value" ng-currency>

    <input type="submit" value="Solicitar Serviço">
</form>