<section id="header"></section>

<section id="reset-password">
    <form ng-submit="vm.resetPassword()">
        <label for="newPassword">Nova Senha</label>
        <input id="newPassword" type="password" ng-model="vm.newPassword">
        <label for="confirmPassword">Confirme a Nova Senha</label>
        <input id="confirmPassword" type="password" ng-model="vm.confirmPassword">
        <p ng-show="vm.message">{{vm.message}}<a href="#" ui-sref="main">Clique aqui para ir para a página inicial</a></p>

        <input type="submit" value="Trocar minha senha">
    </form>
</section>