<section id="header">
</section>

<section id="orders">

    <button class="blue-button" ng-click="vm.askTask()">Realizar um pedido de tarefa</button>

</section>

<section id="tasks">

    <div class="task" ng-repeat="task in vm.tasks">
        <h4>{{task.title}}</h4>
        <p><b>Detalhes:</b> {{task.details}}</p>
        <p><b>Onde:</b> {{task.location}}</p>
        <p><b>Quando:</b> {{task.when | date: "dd/MM/yyyy"}}</p>
        <p><b>Valor:</b> {{task.value | currency}}</p>
        <p><b>Candidatos:</b> <span ng-repeat="candidate in task.candidates">{{candidate.name}}{{$last ? '' : ', '}}</span></p>
        <p ng-show="task.active" style="color: green;">Tarefa Publicada no Mural</p>
        <button class="red-button" ng-click="vm.deactivate(task)" ng-show="task.active">Já realizei esta tarefa</button>
        <p ng-hide="task.active" style="color: red;">Tarefa finalizada</p>
    </div>

    <div class="task"  ng-show="vm.tasks.length < 1" >
        <h4>Parece que você ainda não registrou nenhuma tarefa :(</h4>
        <img alt="no tasks found" ng-src="../../../assets/images/So-Sad.gif" width="100%">
    </div>



</section>