<section id="header">
</section>

<section id="orders">

    <button class="blue-button" ng-click="vm.askTask()">Realizar um pedido de tarefa</button>

</section>

<section id="tasks">

    <div class="task" ng-repeat="task in vm.tasks">
        <h4>{{task.title}}</h4>
        <p>Detalhes: {{task.details}}</p>
        <p>Onde: {{task.location}}</p>
        <p>Quando: {{task.when | date: "dd/MM/yyyy"}}</p>
        <p>Valor: {{task.value | currency}}</p>
        <p>Candidatos: <b ng-repeat="candidate in task.candidates">{{candidate.name}}{{$last ? '' : ', '}}</b></p>
        <p ng-show="task.active" style="color: green;">Tarefa Publicada no Mural</p>
        <button class="red-button" ng-click="vm.deactivate(task)" ng-show="task.active">Já realizei esta tarefa</button>
        <p ng-hide="task.active" style="color: red;">Tarefa finalizada</p>
    </div>

    <div class="task"  ng-show="vm.tasks.length < 1" >
        <h4>Parece que você ainda não registrou nenhuma tarefa :(</h4>
        <img alt="no tasks found" ng-src="../../../assets/images/So-Sad.gif" width="100%">
    </div>



</section>