<section id="header">
</section>

<section id="orders">

    <button class="blue-button" ng-click="vm.askTask()">Realizar um pedido de tarefa</button>

</section>

<section id="tasks">

    <div class="task" ng-repeat="task in vm.tasks">
        <h4>{{task.title}}</h4>
        <p>Detalhes: {{task.details}}</p>
        <p>Onde: {{task.location}}</p>
        <p>Quando: {{task.when | date: "dd/MM/yyyy"}}</p>
        <p>Valor: R${{task.value}}</p>


        <button class="blue-button" ng-click="vm.deactivate(task)" ng-show="task.active">Finalizar tarefa</button>
        <p ng-hide="task.active">Tarefa finalizada</p>
    </div>

</section>